@import "../../assets/styles/variables.scss";


.registerSelectType{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    background-image: url("/Register/bg-desktop-1100.svg");
    @include tablet{
        background-image: url("/Register/bg-tablet.svg");

    }
    @include mobile{
        background-image: url("/Register/bg-mobile.svg");
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-monserrat;
    &__container{
        
        width: 60vw;
       // max-width: 420px;
        height: 70vh;
        padding: 50px 1.4rem;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
       @include tablet{
        height: 60vh;
        width: 70vw;
    }
    @include mobile{
        height: 95vh;
        max-height: 700px;
        width: 80vw;
       }
    }
    &__title{
        font-size: calc(20px + 0.5vw);
        font-weight: 600;
        & span{
            color: $azure-blue;
        }
        @include mobile{
            text-align: center;
            font-size: calc(15px + 0.5vw);
        }
    }
    &__descrip{
        color: #000;
        font-size: calc(8px + 0.5vw);
        text-align: center;
        margin-bottom: 25px;
        font-family: $font-poppins-core;
        font-weight: 400;
        @include tablet{
            font-size: calc(10px + 0.5vw);
        }
        @include mobile{
            font-size: calc(8px + 0.5vw);
        }
    }
    &__btn{
       // margin-top: auto;
       margin-top: 50px;
        font-family: $font-poppins-core;
        padding: 7px 70px;
        background-color: $orange;
        border: none;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        font-size: calc(9px + 0.5vw);
        cursor: pointer;
        @include tablet{
            font-size: calc(12px + 0.5vw);
        }
        @include mobile{
            padding: 7px 50px;
            margin-top: 30px;
        }
        &:hover{
           background-color: $light-orange; 
        }
    }
    &__figures{
        display: flex;
        gap: 70px;
       @include mobile{
        flex-direction: column;
       align-items: center;
        gap: 20px;
       }
       
        &> figure{
            flex-direction: column;
            border: 1px #c3c3c3 solid;
            border-radius:30px;
            width: calc(150px + 0.5vw);
            //height: 190px;
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
          cursor: pointer;
          gap: 10px;
          @include mobile{
            width: 120px;
           }
          &> h3{
            font-size: calc(10px + 0.5vw);
          }
          &:hover{
            transform: scale(1.1);
          }
            & >img{
               
                display: flex;
                justify-content: center;
                object-fit: cover;
                height: 90%;
                width: 90%;
            }
        }
    }
}