@import "../../../assets/styles/variables.scss";

.psychologist-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 85vw;
        height: 85vh;
        background-color: white;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image-background {
        height: 100px;
        width: 100%;
        background-color: $azure-blue;
    }

    &__image {
        position: absolute;
        margin: 0 auto;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        top: 40px;
        border-radius: 10px;
    }
}