@import "../../../assets/styles/variables.scss";

.cancel-appointment-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 80%;
        background-color: white;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 1.5rem;
    }

    &__alert {
        font-size: 13px;
        color: #464646;
        font-family: $font-poppins-core;
        text-align: justify;
    }

    &__btn-container {
        margin-top: 1rem;
        display: flex;
        gap: 0.5rem;
        width: 100%;

        button {
            font-family: $font-monserrat;
            color: white;
            padding: 0.5rem;
            width: 100%;
            border: none;
            border-radius: 10px;
            font-weight: 600;
            cursor: pointer;
            font-size: 13px;
        }
    }

    &__confirm {
        background-color: $orange;
    }

    &__cancel {
        background-color: #CCCFCF;
    }

}

@media screen and (min-width: 768px) {
    .cancel-appointment-modal {

        &__container {
            width: 400px;
            padding: 2rem;
        }

        &__alert {
            font-size: 14px;
        }

        &__btn-container {
            gap: 1rem;

            button {
                padding: 0.6rem;
                font-size: 14px;
            }
        }

    }
}

@media screen and (min-width: 1300px) {
    .cancel-appointment-modal {

        &__alert {
            font-size: 17px;
        }

        &__btn-container {

            button {
                padding: 0.6rem;
                font-size: 17px;
            }
        }

    }
}