@import "../../assets/styles/reset.scss";

.layout {
    height: 100vh;
    max-height: 100%;
    width: 100vw;

    &__fixed {
        position: fixed;
    }

    &__content-container {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}