@import "../../../assets/styles/variables.scss";

.ProfilePsycho__father {
    display: flex;
    position: relative;
    @include tablet{
        flex-direction: column;
      }
  }
  .ProfilePsycho{
    font-family: Montserrat Alternates;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    @include tablet{
        padding: 20px;
      }
    &__title{
        color: $azure-blue;
        font-size: calc(14x + 0.5vw);
        font-weight: 500;
        text-transform: capitalize;
        @include tablet{
        
            font-size: calc(11px + 0.5vw);
          }
    }
    &__picture{
      
        height: 110px;
        width: 110px;
        border: 1px #c3c3c3 solid;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        @include tablet{
        
            height: 95px;
            width: 95px;
          }
        &> img{
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__inf{
        width: 35%;
        display: flex;
        justify-content: space-between;
        @include tablet{
            width: 100%;
            padding: 0 10px;
          }
        &__column{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            &__name{
                text-transform: capitalize;
            }
            &> div{
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 5px;
                &> h2{
                    
                    font-size: calc(11px + 0.5vw);
                    font-weight: 600;
                }
                &> p{
                    color: #6A6A6A;
                    font-size: calc(6px + 0.5vw);
                    @include tablet{
        
                        font-size: calc(9px + 0.5vw);
                      }
                }
            }
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 45%;
      
        
        @include tablet{
        
            width: 80%;
          }
        &> h3{
            font-size: calc(11px + 0.5vw);
            font-weight: 600;
            
        }
        &> p{
           // width: 40%;
           border: 1px #c3c3c3 solid;
           border-radius: 5px;
           padding: 5px;
            color: #6A6A6A;
            font-size: calc(6px + 0.5vw);
            line-height: 20px;
            max-height: 300px;
            @include tablet{
        
                font-size: calc(9px + 0.5vw);
              }
        }
    }
    &__goEdit{
        cursor: pointer;
        font-family: Montserrat Alternates;
        background-color: $azure-blue;
        border: 1px $azure-blue solid;
        border-radius: 10px;
        padding: 8px 15px;
        color: #fff;
        @include tablet{
        
            font-size: calc(10px + 0.5vw);
          }
        &:hover{
            color: $azure-blue;
            background-color: #fff;
        }
    }
  }