@import "../../assets/styles/variables.scss";

.pending-appointments-client {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__title {
        font-family: $font-monserrat;
        font-size: 20px;
        color: $azure-blue;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__table {
        font-family: $font-poppins-core;
        font-size: 12px;
        font-weight: 500;
        width: 95vw;
        border-collapse: collapse;
        border: 1px solid #E3E3E3;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    &__tr {
        width: 100%;
        border-bottom: 1px solid #E3E3E3;

        &:last-child {
            border-bottom: none;
        }
    }

    &__th,
    &__td {
        width: 25%;
        padding: 0.5rem 0.3rem;
        text-align: center;
        border-right: 1px solid #E3E3E3;

        &:last-child {
            border-right: none;
        }

        &:nth-child(3) {
            width: 10%;
        }

        &:nth-child(4) {
            width: 15%;
        }

        &:nth-child(2) {
            width: 20%;
        }
    }

    &__th {
        color: $dark-azure-blue;
        font-weight: 500;
        font-size: 13px;
    }

    &__td {
        font-weight: 400;

        &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 0.1rem;
        }

        figure {
            display: flex;

            img {
                width: 1.7rem;
                cursor: pointer;
                filter: invert(48%) sepia(71%) saturate(4222%) hue-rotate(355deg) brightness(106%) contrast(90%);
            }

            figcaption {
                display: none;
            }
        }
    }

    .link {
        a {
            color: $azure-blue;
            text-decoration: none;
        }
    }

    .cancel-appointment {
        color: $orange-hard;
        cursor: pointer;
    }

}

@media screen and (min-width: 768px) {
    .pending-appointments-client {
        padding: 1.5rem;

        &__title {
            font-size: 22px;
            margin-bottom: 1.5rem;
        }

        &__table {
            width: 80vw;
        }

        &__th,
        &__td {
            padding: 0.6rem 0.3rem;

            &:nth-child(3) {
                width: 5%;
            }

            &:nth-child(4) {
                width: 10%;
            }

            &:nth-child(2) {
                width: 15%;
            }
        }

        &__th {
            font-weight: 500;
            font-size: 15px;
        }

        &__td {
            font-size: 14px;

            &:first-child {
                gap: 0.5rem;
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    .pending-appointments-client {
        padding: 2rem;
        &__title {
            font-size: 24px;
        }
        &__table {
            max-width: 700px;
        }

        &__th {
            font-size: 18px;
        }

        &__td {
            font-size: 15px;
            position: relative;

            &:first-child {
                gap: 0.7rem;
            }

            figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                img {
                    width: 1.3rem;
                }

                &:hover figcaption {
                    display: flex;
                    position: absolute;
                    background-color: white;
                    top: -90px;
                    font-size: 14px;
                    color: #717171;
                    padding: 0.5rem 0.8rem;
                    width: 200px;
                    border-radius: 15px;
                    border: 1px solid #C1C1C1;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .pending-appointments-client {
        padding: 2rem;

        &__title {
            font-size: 26px;
        }

        &__table {
            max-width: 850px;
        }

        &__th {
            font-size: 19px;
        }

        &__td {
            &:first-child {
                gap: 0.5rem;
            }

            font-size: 17px;
        }
    }
}