@import "../../assets/styles/variables.scss";

.header {
    display: flex;
    padding: 0.7rem 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    z-index: 100;

    &__logo-container {
        display: flex;
    }

    &__logo {
        width: 2rem;
    }

    &__hidden {
        display: none;
    }

    &__mobile-menu-icon {
        width: 2.2rem;

    }

    &__mobile-nav-container {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.082);
        z-index: 200;
    }

    &__mobile-menu {
        backdrop-filter: blur(6px) saturate(180%);
        -webkit-backdrop-filter: blur(6px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        padding: 2.5rem 1.5rem;
        position: relative;

        &__list {
            font-family: $font-monserrat;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            font-weight: 500;
            color: $dark-azure-blue;
        }
    }

    &__close-mobile-menu {
        position: absolute;
        width: 1.5rem;
        top: 10px;
        right: 10px
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0.5rem 1rem;

        &__logo {
            width: 1.6rem;
        }

        &__desktop-menu {

            &__list {
                font-family: $font-monserrat;
                list-style: none;
                display: flex;
                gap: 0.5rem;
                font-weight: 500;

            }

            &__item {
                display: flex;
                gap: 0.5rem;
                font-size: 14px;
                position: relative;

                a {
                    color: $dark-azure-blue;
                    text-decoration: none;
                }

                hr {
                    color: #E3E3E3;
                    border: 1px solid #E3E3E3;
                    border-left: none;
                }


                &::before {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                }

                &:hover {
                    cursor: pointer;
                }

                &:hover::before {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 1px;
                    background-color: $dark-azure-blue;
                    bottom: -2px;
                    transition: all ease 0.5s;
                }
            }

        }
    }
}

@media screen and (min-width: 1100px) {
    .header {

        &__desktop-menu {

            &__list {
                gap: 0.7rem;
            }

            &__item {
                font-size: 16px;
                a {
                    font-size: 16px;
                }
            }

        }
    }
}