@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

$azure-blue: #1CACA5;
$box-shadow-square: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
$light-azure-blue: #E9FFFD;
$light-gray: #A4A4A4;
$light-orange: rgba(242, 100, 25, 0.58);
$orange: #F26419;
$font-poppins-core: 'Poppins', sans-serif;
$font-monserrat: 'Montserrat Alternates', sans-serif;
$dark-azure-blue: #001524;
$light-gray: #D9D9D9;
$alert: #b41e1e;

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}
