@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables.scss";



.Header__Psycho{
    display: flex;

    &> figure {
        height: calc(80px + 0.5vw);
        width:  calc(80px + 0.5vw);
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        border: 1px #c3c3c3 solid;
       overflow: hidden;
        cursor: pointer;
        &>img{
       
            border-radius: 50%;
            height: 100%;
            object-fit: cover;
            &:hover{
                filter: contrast(80%);
                transform: scale(1.1);
            }
        }
    }
}

.headerPsycho{
    display: flex;
    flex-direction: column;
    background-color: $azure-blue;
    height: 100dvh;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    width: 40px;
    position: sticky;top: 0; 
    z-index: 100;
    & figure{
        cursor: pointer;
    }
    &> figure{
        height: 40px;
        &> img{
            height: 100%;
        }
    }
    &__middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        &> figure{
            height: 25px;
            width: 25px;
            position: relative;
            &> img{
                height: 100%;
                width: 100%;
            }
        }
        &__active{
           position: relative;
        }
    }
    &__end{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        &> figure{
            height: 25px;
            width: 25px;
            &> img{
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    &__logout{
       margin-left: 6px;
    }
    }
}