@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables.scss";

.headerPsycho{
    display: flex;
    flex-direction: column;
    background-color: $azure-blue;
    height: 100dvh;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    width: 40px;
    position: sticky;top: 0; 
    z-index: 100;
    & figure{
        cursor: pointer;
    }
    &> figure{
        height: 40px;
        &> img{
            height: 100%;
        }
    }
    &__middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        &> figure{
            height: 25px;
            width: 25px;
            &> img{
                height: 100%;
                width: 100%;
            }
        }
    }
    &__end{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        &> figure{
            height: 25px;
            width: 25px;
            &> img{
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    &__logout{
       margin-left: 6px;
    }
    }
}